networks:
  xtdb:
    external: false

volumes:
  xtdb:
    driver: local

services:
  # MongoDB
  # --------------------------------------------------------------------------------
  # Used by event store and read store for managing and reading application data.

  xtdb:
    restart: unless-stopped
    image: ghcr.io/xtdb/xtdb:latest
    container_name: xtdb
    networks:
      - xtdb
    ports:
      - 5432:5432
      - 8080:8080
    volumes:
      - xtdb:/var/lib/xtdb

  # Cerbos
  # --------------------------------------------------------------------------------
  # Policy engine for application access control.

  # cerbos:
  #   restart: unless-stopped
  #   image: ghcr.io/cerbos/cerbos:latest
  #   container_name: boilerplate_cerbos
  #   command: ["server", "--config=/config.yaml"]
  #   ports:
  #     - 6592:3592
  #     - 6593:3593
  #     - 6594:3594
  #   volumes:
  #     - ./cerbos.yaml:/config.yaml
  #   networks:
  #     - server
